<% if (theme.busuanzi){ %>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <!-- Busuanzi Analytics -->
    <div class="flex items-center gap-2">
        <span><%= _p('busuanzi.visitor_count') %></span>
        <span id="busuanzi_value_site_uv"></span>
        <span><%= _p('busuanzi.total_view') %></span>
        <span id="busuanzi_value_site_pv"></span>
    </div>
    <!-- End Busuanzi Analytics -->
<% } %>
