<% if (!page.isCatalog) { %>
    <section class="px-6 max-w-6xl mx-auto md:px-0">
        <%- partial('_partial/bookshelf', { books: page.books }) %>
    </section>

<% } else { %>

    <section class="px-6 max-w-prose mx-auto md:px-0">
        <!-- header -->
        <header class="overflow-hidden pt-6 pb-6 md:pt-12">
            <div class="pt-4 md:pt-6">
                <h1 id="article-title" class="heti--serif text-[2rem] font-bold leading-snug mb-4 md:mb-6 md:text-[2.6rem]">
                    <%= page.book.title %>
                </h1>
            </div>
        </header>
        <ul class="w-full">
            <li class="text-base text-left p-5 pb-56"></li>
            <%- partial('_partial/chapter', { book: page.book, firstIndex: 1 }) %>
        </ul>
    </section>

<% } %>
