@import "highlight.css";
@import "toast.css";
@import "tk_comment.css";
@import "post.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --c-bg: #ffffff;
  --c-scrollbar: #d9d9d9;
  --c-scrollbar-hover: #bbbbbb;
  --roy-white: #fff;
  --roy-card-bg: #fff;
  --roy-card-border: #3d3d3f;
  --roy-shadow-border: 0 8px 16px -4px #2c2d300c;
  --roy-fontcolor: #363636;
  --roy-background: #f7f9fe;
  --roy-secondtext: rgba(60, 60, 67, 0.6);
  --roy-shadow-main: 0 8px 12px -3px var(--roy-theme-op);
  --roy-lighttext: var(--roy-theme);
  --roy-secondbg: #f1f3f8;
  --roy-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
  --style-border-dashed: 1px dashed var(--roy-theme-op);
  --wp--preset--color--custom-light-color: #828282;
  --roy-black: #000;
  --roy-blue: #0084FF;
  --roy-red: #FF3842;
  --roy-pink: #d44040;
  --roy-green: #3e9f50;
  --roy-yellow: #ffc93e;
  --roy-orange: #ff953e;
}

html.dark {
  --c-bg: #212121;
  --c-scrollbar: #333333;
  --c-scrollbar-hover: #555555;
  --roy-card-bg: #1d1e22;
  --roy-card-border: #3d3d3f;
  --roy-shadow-border: 0 8px 16px -4px #00000050;
  --roy-fontcolor: #F7F7FA;
  --roy-background: #18171d;
  --roy-secondtext: #a1a2b8;
  --roy-secondbg: #30343f;
  --wp--preset--color--custom-light-color: #989898;
}

* {
  text-shadow: 0 0 1.25px var(--wp--preset--color--custom-light-color);
}

.no-a-hover {
  color: inherit!important;
}

a:hover {
  color: var(--roy-theme);
  cursor: pointer;
}

::selection {
  background: var(--roy-fontcolor);
  color: var(--roy-background);
}

html {
  overflow: auto;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 8px;
  background: rgba(125, 125, 125, 30%) content-box;
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
  background: transparent;
}
